<h1>Listing teams</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.title %></td>
      <td><%= team.text %></td>
      <% if logged_in? %>
      <td><%= link_to 'Show', team_path(team) %></td>
      <% end %>
    </tr>
  <% end %>
</table>