<h1>Welcome to Soccer Spirits Formation Builder</h1>
<%= link_to 'My Team', controller: 'teams' %>
<%= link_to 'Sign Up', new_user_path %>
<br>
<%= image_tag("ss_logo.jpg", :alt => "rss feed" , :class => "welcome-image-size") %>
