<%-#layout for the 'pick players' area on the right side of the new team page-%>
<br>
<br>
<br>
<div class= "row">	
  <div class="tab-pane">
  <% player = 0 %>  
  <%-# the - 10 accounts for the 10 blank player defaults-%>
  <%-# Skip if default player so it doesnt display 10 blank photos in selection-%>
  <% n = Player.count-10 %>
  <% if n <= 3%>
    <% (0..2).each do |i| %>
    <% p = Player.find_by(id: (i + 1)) %> 
    <% next if p.star == 1 %>
      <div class="col-md-4">
        <br>
          <%= image_tag("characters/" + p.file, :alt => "rss feed" , :class => ["displayed" , "character-image-size", "pick"], :id => "player" + i.to_s) %>
          <%=  i%>
      </div>
    <% end %>
  <% end %>
  <% if n > 3%>
    <% (0..2).each do |i| %>
      <div class="col-md-4">
      <% (0..(n/3).floor).each do |j| %>
      <% next if player+(j*3)+1 > Player.count %>  
      <% p = Player.find_by(id: (player+(j*3)+1)) %> 
      <% next if p.star == 1 %>  
          <br>
          <%= image_tag("characters/" + p.file, :alt => "rss feed" , :class => ["displayed" , "character-image-size", "pick"], :id => "player" + (player + j).to_s, :name => p.file[0..(p.file.length-5)]) %>
      <% end %>
      </div> 
      <% player += 1 %>
    <% end %>
  <% end %>
  </div>
</div>