<%-#layout for the cards formation area on the new team page-%>
<div class="row">
  <%-#set id for cards-%>
  <% id = 0 %> 
  <% position = "front" %>
  <% (0..2).each do |i| %>
    <div class="col-md-4">
      <% (0..2).each do |j| %>
        <br>
        <%= image_tag("blank_image.jpg", :alt => "rss feed" , :class => ["displayed" , "character-image-size"], :id => id+j) %>
        <% if j == 0 %>
          <center> front </center>
        <% end %>
        <% if j == 1 %>
           <center> mid </center>
        <% end %>
        <% if j == 2 %>
           <center> bot </center>
        <% end %>
      <% end %>
    </div> 
    <% id += 1 %>
  <% end %>
</div>

